extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block contentFixedBefore

block contentStatic
  h1
    |郵便番号APIはCORSで引っかかったのでcoindeskのデータを出した
  h2
    |しょぼん
  #app

block contentFixedAfter
